body {
    padding: 0;
    margin: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.container{
    padding: 4%; 
    margin: 20px 5px; 
}

.container .topbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.container .topbar .notification-text {
    font-weight: 800;
    font-size: 130%;
}

.container .topbar .unread-count {
    background-color: hsl(219, 12%, 42%);
    padding: 2px 5px;
    margin: 0 5px;
    color: #ffffff;
}

.container .notification {
    background-color: hsl(211, 68%, 96%);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 3fr auto auto;
    margin-bottom: 12px;
    padding: 15px 20px; 
}

.container .notification img {
    width: 40px;
    height: auto
}


.container .notification.read {
    background-color: hsl(0, 0%, 100%);
}

.container .notification.read .red-dot {
    display: none;
}

.container .notification .msg-box {
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    border: 1px solid hsl(219, 12%, 42%);
}

.container .notification .timestamp {
    font-weight: 400;
}

.name,
.object {
    font-size: 110%;
    font-weight: 800;
}

/* hover effects below */
.mark-as-read:hover {
    color: hsl(224, 21%, 14%);
    font-size: 110%;
    font-weight: 800;
    transition: 0.3s;
}

.object:hover {
    color: hsl(219, 85%, 26%);
    transition: 0.3s;
}

.name:hover {
    color: hsl(219, 85%, 26%);
    transition: 0.3s;
}

.msg-box:hover {
    background-color: hsl(211, 68%, 90%);
    transition: 0.3s;
}


@media screen and (min-width: 376px) and (max-width: 768px) {
    .container{
        margin: 30px 40px; 
        box-shadow: 10px 20px 50px  hsl(205, 33%, 90%);
        border-radius: 20px;
    }
    .container .notification {
        display: grid;
        grid-template-columns: 1fr 3fr auto auto;
        margin-bottom: 12px;
        padding: 15px 20px; 
    }
}


@media screen and (min-width: 768px) and (max-width: 992px) {
    .container{
        margin: 50px 160px; 
        box-shadow: 10px 20px 50px  hsl(205, 33%, 90%);
        border-radius: 20px;
    }
    .container .notification {
        display: grid;
        grid-template-columns: 1fr 6fr auto auto;
        margin-bottom: 12px;
        padding: 15px 20px; 
    }
    
}

@media screen and (min-width: 992px) and (max-width: 1440px) {
    .container{
        margin: 50px 250px; 
        box-shadow: 10px 20px 50px  hsl(205, 33%, 90%);
        border-radius: 20px;
    }
    .container .notification {
        display: grid;
        grid-template-columns: 1fr 7fr auto auto;
        margin-bottom: 12px;
        padding: 15px 20px; 
    }
}


@media screen and (min-width: 1440px) {
    .container{
        margin: 50px 450px; 
        box-shadow: 10px 20px 50px  hsl(205, 33%, 90%);
        border-radius: 20px;
    }
    .container .notification {
        display: grid;
        grid-template-columns: 1fr 8fr auto auto;
        margin-bottom: 12px;
        padding: 15px 20px; 
    }
}