body {
    padding: 0;
    margin: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 100%;
    border-radius: 10px;
    box-shadow: 20px 10px 50px hsl(205, 33%, 90%);
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1.5rem;
    margin: 3rem 20rem;
    border-radius: 1.5rem;
}

.container .topbar {
    display: flex;
    justify-content: space-between;
}

.container .unread-count {
    background-color: hsl(219, 12%, 42%);
    padding: 0.3rem 0.8rem;
    margin: 0 0.5rem;
    color: #ffffff;
}

.container .notification {
    background-color: hsl(211, 68%, 96%);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    display: grid;
    grid-template-columns: minmax(10rem, 1fr) 4fr auto auto;
}

.container .notification.read {
    background-color: hsl(0, 0%, 100%);
}
.container .notification.read .red-dot{
    display: none;
}

.container .notification-text {
    font-weight: bolder;
    font-size: 1.2rem
}

.container .notification .msg-box {
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    border: 1px solid hsl(219, 12%, 42%);
}

.timestamp {
    font-weight: lighter;
}

.name,
.object {
    font-size: 1.1rem;
    font-weight: bolder;
}


/* hover effects below */
.mark-as-read:hover{
    color:  hsl(224, 21%, 14%);
    font-size: 1.1rem;
    font-weight: bolder;
    transition: 0.3s;
}
.object:hover{
    color:  hsl(219, 85%, 26%);
    transition: 0.3s;
}

.name:hover{
    color:  hsl(219, 85%, 26%);
    transition: 0.3s;
}

.msg-box:hover{
    background-color:  hsl(211, 68%, 90%);
    transition: 0.3s;
}


/* red dot for unread msgs */
#circle{
    width: 16px;
    height: 16px;
    background:red;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    line-height:20px;
    vertical-align:middle;
    text-align:center;
    color:white;
    }
  


